<div class="footer">
    <div class="wrap_content">

        <div class="middle_seporator"></div>

        <div class="footer_content">
            <div class="footer_menu">
                <a href="/">Главная</a>
                <a href="/sport/line">Спорт</a>
                <a href="/sport/live">Лайв </a>
                <a href="/casino">Казино</a>
                <a href="/sport/checkbet">Проверка ставки</a>

                <a href="/rules-sport">Правила по отдельным видам спорта</a><a href="/return-policy">Условия возврата</a><a href="/risk-notification">Уведомление о рисках</a><a href="/kyc">KYC и AML</a><a href="/terms">Правила и условия</a><a href="/privacy-policy">Политика конфиденциальности</a>            </div>
            <div class="copyright">
                <a href="https://t.me/aristolone" target="_blank">
                    <div><img src="/img/copyright.png" alt=""></div>
                    <div>Разработка сайта</div>
                </a>
            </div>
        </div>
        <div class="middle_seporator"></div>



                <div class="footer_banners">
            <div>
                                    <div><img src="/img/banners/banner_1675531751_2246.svg" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531756_7174.svg" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531761_4190.svg" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531766_8888.svg" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531770_2251.svg" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531775_3505.svg" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531778_5843.svg" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531782_1758.svg" alt=""></div>
                            </div>
        </div>
        <div class="middle_seporator"></div>
        


                <div class="footer_banners color_focus">
            <div>
                                    <div><img src="/img/banners/banner_1675531117_4452.png" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531121_1345.png" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531127_7830.png" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531132_1567.png" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531136_1617.png" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531139_1978.png" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531143_4538.png" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531147_9434.png" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531151_3754.png" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531159_6798.png" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531163_7869.png" alt=""></div>
                                    <div><img src="/img/banners/banner_1675531167_3517.png" alt=""></div>
                            </div>
        </div>
        <div class="middle_seporator"></div>
        


                    <div class="footer_company">
                https://crystalbet.pro            </div>
            <div class="middle_seporator"></div>
        
        <div class="footer_copy">
            © 2024, crystalbet.pro. Все права защищены.
        </div>
    </div>
</div>
